<template>
    <div>
        <Cropper @change="change"
            src="https://d2bps9p1kiy4ka.cloudfront.net/5b09189f7285894d9130ccd0/13fd979e-94bc-42e4-bdc9-d50b59531ffc.png">
        </Cropper>
        <img :src="previewUrl" />
    </div>
</template>
  
<script setup lang="ts">
import { ref } from 'vue';
import { Cropper } from 'vue-advanced-cropper';
import 'vue-advanced-cropper/dist/style.css';
import { uploadImage } from '../store/api';

const previewUrl = ref('')

const change = async ({ coordinates, canvas }) => {
    canvas.toBlob(async blob => {
        // const imageUrl = await uploadImage(blob);
        const imageUrl = canvas.toDataURL();

        previewUrl.value = imageUrl;
        // Perhaps you should add the setting appropriate file format here
    }, 'image/jpeg');
}
</script>
  ../store/api