<template>
  <div>
    <div ref="editor"></div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import Quill from "quill";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css"; // Snow theme
import ImageResize from "quill-image-resize";
import ImageUploader from "quill-image-uploader";
import "quill-image-uploader/dist/quill.imageUploader.min.css";

import { uploadImage } from "../store/api";
import { recognizeText } from "../store";

Quill.register("modules/imageResize", ImageResize);
Quill.register("modules/imageUploader", ImageUploader);

const editor = ref<Quill | null>(null);
const props = defineProps(["texts", "lang"]);

onMounted(() => {
  editor.value = new Quill(editor.value as any, {
    theme: "snow",
    modules: {
      imageResize: {
        displaySize: true, // Show the resized size in the editor
      },
      toolbar: {
        container: [
          [
            "bold",
            "italic",
            "underline",
            "blockquote",
            "code-block",
            { header: 1 },
            { header: 2 },
            { list: "ordered" },
            { list: "bullet" },
            "image",
          ],
        ],
      },
      imageUploader: {
        upload: async (file) => {
          if (file) {
            // Handle the image upload and get the image URL
            recognizeText(file);
            const imageUrl = await uploadImage(file);
            return imageUrl;
          }
        },
      },
    },
  });

  // ... Other Quill setup code

  if (props.texts && props.lang) {
    // editor.value.clipboard.dangerouslyPasteHTML(content.text);
    editor.value.root.innerHTML = props.texts[props.lang] || "";
  }
  editor.value.on("text-change", () => {
    const htmlText = editor.value.root?.innerHTML?.toString();
    props.texts[props.lang] = htmlText;
  });
});
</script>

<style></style>
