<template>
  <div>
    <div class="space-x-4">
      <span>OCR</span>
      <input type="file" @change="performOCR" />
    </div>

    <div v-if="ocrImage" class="">
      <p class="text-xl">Current image</p>
      <div>
        <img :src="ocrImage" class="w-full" />
      </div>
    </div>
    <div class="p-2">
      <div class="align-middle space-x-4 py-2">
        <span class="text-xl">Recognized Text</span>
        <button class="btn btn-blue" @click="copyText(recognizedText)">
          copy
        </button>
      </div>
      <textarea
        v-model="recognizedText"
        rows="15"
        class="w-full"
        placeholder="Enter text to translate"
      ></textarea>
    </div>
    <div>
      <div>
        <div class="flex space-x-4 items-center">
          <span>Text Translator</span>
          <button @click="handleTranslate" class="btn btn-blue">
            Translate
          </button>
          <span>Hindi</span>
          <button
            v-if="translatedText"
            class="btn btn-blue"
            @click="copyText(translatedText)"
          >
            copy
          </button>
        </div>
      </div>

      <div v-if="translatedText">
        <h3>Translated Text:</h3>
        <p>{{ translatedText }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {
  ocrImage,
  recognizedText,
  translateText,
  translatedText,
} from "../store";
import { recognizeText, copyText } from "../store";

const performOCR = async (event) => {
  const file = event.target.files[0];
  recognizeText(file);
};

const handleTranslate = async () => {
  const text = await translateText(recognizedText.value);
  translatedText.value = text;
};
</script>
