<template>
  <div>
    <div class="flex justify-between p-2">
      <div class="flex space-x-2">
        <button @click="selectedLang = 'en'" class="btn btn-blue">
          English
        </button>
        <button @click="selectedLang = 'hi'" class="btn btn-blue">Hindi</button>
        <button
          v-if="isEditable"
          @click="translateToHindi"
          class="btn btn-blue"
        >
          Translate all
        </button>
      </div>
      <div class="flex space-x-2">
        <button @click="saveQuestions" class="btn btn-blue">save</button>
        <button @click="() => (isEditable = !isEditable)" class="btn btn-blue">
          {{ isEditable ? "preview" : "edit" }}
        </button>
      </div>
    </div>
    <div :class="!isEditable ? 'md:grid md:grid-cols-2' : ''">
      <div v-for="(group, gIndex) in questionGroups" :key="gIndex">
        <div class="m-2 text-xl">{{ group.name }}</div>
        <draggable
          v-model="group.questions"
          group="questions"
          item-key="id"
          :disabled="isEditable"
          @end="fixDisplayOrder"
        >
          <template #item="{ element, index }">
            <Question
              :question="element"
              @delete-question="deleteQuestion(gIndex, index)"
              class="m-2 p-2 bg-gray-100"
            ></Question>
          </template>
          <template #footer>
            <div class="p-2">
              <button
                v-if="isEditable"
                class="btn btn-blue"
                @click="addQuestion(gIndex)"
              >
                add question
              </button>
            </div>
          </template>
        </draggable>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { onMounted } from "vue";
import {
  getQuestionGroups,
  questionGroups,
  translateToHindi,
} from "../store/questions";
import Question from "./Question.vue";
import draggable from "vuedraggable";
import { isEditable, selectedLang } from "../store";

const getId = (gId: number, qId: number) => {
  let id = 0;
  for (let i = 0; i < gId; i++) {
    id += questionGroups.value[i].questions.length;
  }
  id += qId + 1;
  return id;
};

const fixDisplayOrder = () => {
  questionGroups.value.forEach((g, index) => {
    g.questions.forEach((q, i) => {
      q.displayOrder = getId(index, i);
    });
  });
};

onMounted(async () => {
  await getQuestionGroups();
});

const addQuestion = (groupIndex: number) => {
  const questionIndex = questionGroups.value[groupIndex].questions.length;
  questionGroups.value[groupIndex].questions.push({
    type: "Single",
    positiveMarks: 4,
    negativeMarks: 4,
    texts: {
      en: "new question",
      hi: "hi",
    },
    displayOrder: getId(groupIndex, questionIndex),
    id: getId(groupIndex, questionIndex),
    options: [],
  });
};
const deleteQuestion = (groupIndex: number, questionIndex: number) => {
  questionGroups.value[groupIndex].questions.splice(questionIndex, 1);
};

const saveQuestions = () => {
  console.log(JSON.stringify(questionGroups.value, null, 2));
  alert(
    "Logged the built respose which is similar to existing question payload."
  );
};
</script>

<style>
.handle {
  cursor: move;
}
</style>
