<template>
  <div>
    <div class="flex justify-between align-middle">
      <div>Q {{ question.displayOrder }}</div>
      <select v-model="question.type" :disabled="!isEditable">
        <option value="Single">Single</option>
        <option value="Multiple">Multiple</option>
        <option value="Numeric">Numeric</option>
      </select>
      <div class="align-middle">
        <span>positive:</span>
        <input
          v-model.number="question.positiveMarks"
          type="number"
          class="w-6"
          placeholder="Positive Marks"
          :disabled="!isEditable"
        />
      </div>
      <div class="align-middle">
        <span>negative:</span>
        <input
          v-model.number="question.negativeMarks"
          type="number"
          placeholder="Negative Marks"
          class="w-6"
          :disabled="!isEditable"
        />
      </div>
      <div>
        <button
          v-if="isEditable"
          class="btn btn-red"
          @click="emit('delete-question', true)"
        >
          delete
        </button>
      </div>
    </div>

    <Text :texts="question.texts" />

    <div v-if="showOptions">
      <div v-if="question.options?.length">
        <div class="text-xl">Options</div>
        <div class="md:grid grid-cols-2 gap-2">
          <div
            v-for="(option, i) in question.options"
            :key="i"
            class="flex items-center"
          >
            <Text :texts="option.texts" class="w-auto"></Text>
            <div class="flex justify-between items-center">
              <div>
                <input
                  type="checkbox"
                  v-model="option.isSolution"
                  :disabled="!isEditable"
                />
              </div>

              <div>
                <button
                  @click="removeOption(i)"
                  class="btn btn-red"
                  v-if="isEditable"
                >
                  delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button v-if="isEditable" class="btn btn-blue" @click="addOption()">
        add option
      </button>
    </div>
    <div v-else>
      <span>Answer: </span>
      <input
        v-model.number="question.numericAnswer"
        type="number"
        placeholder="Numeric answer"
        :disabled="!isEditable"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { IQuestion } from "../store/questions";
import Text from "./Text.vue";
import { isEditable } from "../store";
const { question } = defineProps<{
  question: IQuestion;
}>();

const emit = defineEmits(["delete-question"]);

const showOptions = computed(() => {
  if (["Single", "Multiple"].includes(question.type)) return true;
  return false;
});

const addOption = () => {
  if (!question.options) question.options = [];
  question.options.push({
    texts: {
      en: `option ${question.options.length}`,
      hi: "hi",
    },
  });
};
const removeOption = (optionIndex) => {
  question.options?.splice(optionIndex, 1);
};
</script>

<style scoped></style>
