<template>
  <div>
    <div v-if="isEditable" class="m-2">
      <Editor v-if="selectedLang == 'en'" :texts="props.texts" lang="en" />
      <Editor v-if="selectedLang == 'hi'" :texts="props.texts" lang="hi" />
    </div>
    <div v-else>
      <span v-html="props.texts[selectedLang]"></span>
    </div>
  </div>
</template>

<script setup lang="ts">
import Editor from "./Editor.vue";
import { isEditable, selectedLang } from "../store/index";
import { ITexts } from "../store/questions";

const props = defineProps<{
  texts: ITexts;
}>();
</script>
