<template>
  <!-- <div v-if="loading">{{ loading }}</div> -->

  <HelloWorld msg="Question generator" class="text-center" />

  <div v-if="isEditable" class="md:flex">
    <QuestionList class="md:w-8/12" />
    <div class="bg-gray-200 md:w-4/12 md:fixed md:right-0">
      <div class="max-h-screen overflow-auto p-2">
        <OCR class="bg-gray-200"></OCR>
        <div class="h-20"></div>
      </div>
    </div>
  </div>
  <div v-else>
    <QuestionList />
  </div>

  <!-- <Cropper /> -->
</template>

<script setup lang="ts">
import HelloWorld from "./components/HelloWorld.vue";
import { isEditable, loading } from "./store";
import QuestionList from "./components/QuestionList.vue";
import OCR from "./components/OCR.vue";
// import Cropper from './components/Cropper.vue'
</script>

<style scoped></style>
